@font-face { font-family: Geomanist; src: url('Geomanist-Regular.otf'); }

body {
	background: #CE3C3C;
}
input:focus {
    outline: none;
}
#container {
	width: 50%;
	margin: auto;
	text-align: center;
	padding-top: 7%;
}
#logo {
	width: 60%;
	margin: auto;
	padding-bottom: 10%;
}
.action-btn {
    border-radius: 0 3px 3px 0;
	border:none;
    position: absolute;
    top: 0;
    right: 0;
	height: 100%;
    padding: 16px 28.8px;
	color: #fff;
    background-color: #3498DB;
	font-family: Geomanist;
	font-size: 17px;
}
fieldset {
	width: 600px;
	height: 50px;
    border: 0px;
    padding: 0px !important;
    position: relative;
	box-sizing: border-box;
	margin: auto;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.shorten-input, .input-tall {
    width: 100%;
    height: 100%;
    padding: 12.4px 21px;
	font-family: Geomanist;
    font-size: 17px;
    color: #7f898e;
    line-height: 32px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border-width: 0;
    box-shadow: 0 0 0 0px #fff;
    -webkit-appearance: none;
}
#shorter {
	color: white;
	font-family: Geomanist;
}